/*=============================================
=           general css elements            =
=============================================*/
body{
	font-family: 'Open Sans', sans-serif;
}
.center{
	width: 85%;
	margin: 0 auto;
}

hr {
    background-image: -moz-linear-gradient( 0deg, rgb(129,62,62) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(129,62,62) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(129,62,62) 0%, rgb(255,255,255) 100%);
    width: 21.21vw;
    height: 1px;
    margin: 0;
}
.clear{
    clear: both;
}

button.procitaj{
    background-color: #57bb89;
    color: #ffffff;
    border: none;
    text-align: center;
    width: 7.27vw;
    padding: 10px 0;
    font-size: 0.85vw;
    cursor: pointer;
}
button.procitaj:hover{
    opacity: 0.5;
}
/*======================================
=            header top css            =
======================================*/
div.header-top{
	background-color: #918d8d;
	color:#ffffff;
	height: 40px;
}
div.center:after{
	content: '';
	display: block;
	clear: both;
}
	div.header-top span{
		display: inline-block;
		float: right;
		font-size: 15px;
		margin-right: 35px;
		margin-top: 10px;
	}
	div.header-top span i{
		margin-right: 10px;
		font-size: 20px;
	}
/*====================================
=            Header green            =
====================================*/
header{
	width: 100%;
	height: 180px;
	background: #57bb89;
	padding-top: 35px;
}
header:after{
	content: '';
	display: block;
	clear: both;
}
	
	header .center div{
		display: inline-block;
		float: left;
		width: 50%;

	}
	header .center .right{
		width: 300px;
	}
header .center div.search{
	width: 300px;
	height: 30px;
	position: relative;
	margin-top: 30px;

}
	div.search input{
		background: rgba( 255 , 255 , 255 , 0.3 );
		border:none;
		outline: none;
		padding:5px 20px;
		color:#fff;
		position: absolute;
		top:0;
		height: 100%;
		width:238px;
	}
	div.search input::-webkit-input-placeholder{
		color: #fff;
	}
	div.search button{
		height: 100%;
		width: 62px;
		position: absolute;
		top: 0;
		right:0;
		border: none;
		background: #fff;
		color:#a0706f;
		font-size: 18px;
	}
	div.right div.himna{
		display: block;
		margin-top: 30px;
		width:300px;
	}

div.right  img{
	position: absolute;
    right: 10%;
}


/*=======================================
=            menu navigation            =
=======================================*/

.menu ul{
	width: 100%;
}
.menu li{
	display: inline-block;
	text-align:center;
	width:14%;
	position: relative;
}
.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color:#dc5362;
	font-weight: bold;
	display:block;
	padding:20px 0;
}

.menu li:hover {
	background-color: rgba(87,187,137,0.5);
}
/*=====================================
=            menu sub-menu            =
=====================================*/

.sub-menu {
	position: absolute;
	top: 56px;
	background-color: rgba(87,187,137,0.5);
	left:0;
	z-index:50;
}
.sub-menu li{
	width: 100%;
	display: none;
	position: relative;

}
.menu li:hover .sub-menu li{
	display: block;
	z-index:50;
}
	.sub-menu li a{
		color: #ffffff;
		padding:25px 0;
	}
.sub-menu li:hover,	
.sub-menu li a:hover {
		width: 100%;
		background-color: rgba(210,106,108,.8);
		z-index:50;
	}

/*====================================
=            sub-sub-menu            =
====================================*/

.sub-sub-menu{
	background-color: rgba(87,187,137,0.5); /*green*/
	position: absolute;
	top: 0;
	left:228px;
	display: none;
	z-index:50;
}
.sub-menu li:hover 	.sub-sub-menu{
	display: block;
	z-index:50;
}

/*===================================
=            slider-wrap            =
===================================*/

div.slider-wrap{
	width:100%;
	height:565px;
	background-color: rgb(87,187,137);
	padding:15px 0 40px;
}


div.slider{
	width:100%;
	height:100%;
	background:#fff;
	padding:13px 0;
}
div.slider div.center{
	position:relative;
}

div.slide-left{
	background-image:url("../images/kids.jpg");
	background-size:cover;
	width:60%;
	position:absolute;
	left:0;
	height:100%;
    -webkit-shape-outside: polygon(100% 0%, 80% 100%, 0 100%, 0 0);
    shape-outside: polygon(100% 0%, 80% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(98% 0%, 81% 100%, 0 100%, 0 0);
}
div.slide-right{
	height:100%;
    width:50%;
    float:right;
    background: rgb(87,187,137);
    -webkit-shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
div.text{
	width:80%;
	float:right;
	padding-top:50px;
	text-align:center;
}
div.text h1{
	margin-bottom:45px;
	text-transform:uppercase;
	font-size:26px;
	color:#fff;
}

div.text p{
	color:#fff;
	line-height:25px;
	font-size:17px;
	text-align:left;
}

div.text div.icon{
	width:92px;
	height:92px;
	background:#f5efef;
	border:5px solid rgba(245,239,239,.2);
	border-radius:50px;
	float:left;
	margin-right:20%;
	margin-top:30px;
}
div.text div.icon:after{
	content:'';
	display:block;
	clear:both;
}
div.text div.icon1{
	background:url('../images/icon1.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon2{
	background:url('../images/icon2.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon3{
	margin-right:0;
	background:url('../images/icon3.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon span{
	display:block;
	margin-top:100px;
	color:#fff;
}

/*===================================
=           content            =
===================================*/

div.content{
	/*background-color: #57bb89;*/
}
	div.content div{
		float: left;
	}
	div.content div.left-side{
        width: 68%;
        margin-right:2%; 
    }

div.content div.tabla{
    width: 50.18vw;
    padding-left: 5.09vw;
    position: relative;
}
    div.content div.tabla img.tabla{
            width: 50.18vw;
    }
    div.content div.tabla div.tabla-info{
        position: absolute;
        top:11.42vh;
        padding: 0 3.03vw;
    }
        div.content div.tabla div.tabla-info img{
            width: 17.45vw;
            float: left;
            margin: 2.78vh 1.82vw 2.78vh 0;
}
        div.content div.tabla div.tabla-info h1{
            text-align: center;
            text-transform: uppercase;
            color: rgb(13, 132, 89);
            font-size: 1.45vw;
            line-height: 1.2;
            font-weight: bold;
        }
        div.content div.tabla div.tabla-info p{
            margin-top: 2.78vh;
            font-size: 1vw;
            color: rgb(7, 85, 57);
            line-height: 1.531;

        }
/*===================================
=           content POSTS         =
===================================*/
div.posts{
    width: 100%;
    margin-top: 4.56vh;
}
div.posts div{
    width: 45%;
    float: left;
    box-sizing: border-box;
}
div.posts div:first-child{
    margin-right: 10%;
}
    div.posts div div{
        width: 100%;
    }
	/* h1.naslov-sekcija {
		border: 3px solid;
		border-image:-webkit-linear-gradient( 0deg, rgb(129,62,62) 0%, rgb(255,255,255) 100%);  
		border-left:none;
		border-right:none;
		} */

    h1.naslov-sekcija img.naslov-slika{
        float: left;
        padding: 4px 0 0 0;
        margin-right: 15px;
    }
    span.ime-sekcija{
        display: block;
        padding:1.1vh 0;
        box-sizing: border-box;
        font-size:1.45vw;
        color: rgb(129, 62, 62);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
   }

.post-info{
    width: 100%;
    /*display: block;*/
}
    .post-info img.post-slika{
        float: left;
        padding-right: 1.21vw;
    }
    .post-info h1.post-naslov{
        font-size: 1.09vw;
        line-height: 1.222;
        font-weight: bold;
        padding: 1.95vh 0;
    }
    .post-info p.post-voved{
        font-size:0.8vw;
        color: rgba(0, 0, 0, 0.8);
        line-height: 1.833;
        /*font-weight: lighter;*/
    }

/*===================================
=           za roditelite         =
===================================*/
div.za-roditelite{
    width: 100%;
    margin-top: 4.56vh;
}
div.za-roditelite {
    width: 100%;
}
	div.za-roditelite hr{
		width: 95%;
	}
div.za-roditelite div{
    float: left;
    width: 33.33%;
    text-align: center;
}
div.docs{
	box-sizing:border-box;
	padding-left:70px;
}

    div.za-roditelite div h3{
        font-weight: bold;
        text-transform: uppercase;
        padding: 15px 0;
    }
    div.za-roditelite div p{
        padding: 15px 2.21vw;
        font-size: 14px;
        line-height: 1.2;
        text-align: left;

    }
    div.za-roditelite div span{
        text-align: left;
        font-size: smaller;
        font-weight: bold;
        display: block;
        padding-left: 2.21vw;
    }
div.docs ul{
    text-align:left;
}
    div.docs ul li:first-child{
     margin-top: 33px;
 }
    div.docs ul li{
        margin-bottom: 33px;
    }

   /*  div.docs ul li img{
   	float:left;
   	margin-top:-5px;
   } */
        div.docs ul li span{
            display: inline-block;
            text-transform: uppercase;
            box-sizing: border-box;
            padding:0 0.47vw;
        }

/*===================================
=         bottom POSTS         =
===================================*/
div.bottom-posts{
    margin-top:4.56vh;
}
div.bottom-posts div{
    width: 40%;
    float: left;
}
div.bottom-posts div:first-child{
    margin-right: 10%;
}
div.bottom-posts div hr{
    width: 100%;
}

div.bottom-posts div img{
    float: right;
    padding: 4.56vh 0 4.56vh 10px;
}
div.bottom-posts div p{
    padding: 7.56vh 0;
}
div.bottom-posts div button{
    float: right;
}
/*===================================
=          RIGHT side pink part       =
===================================*/
div.content div.right-side{
	width: 30%;
	background-color: #dc5362;
	text-align: center;
	color: #ffffff;
	margin-top: 15px;
}
	div.content div.right-side h1{
		font-size: 23px;
		line-height: 1.2;
		font-weight: bold;
		padding: 40px 0 30px 0;
		text-transform: uppercase;
	}
	div.content div.right-side h3{
		font-size: 14px;
		line-height: 1.2;
		font-weight: lighter;
		letter-spacing: 1px;
		padding: 10px 0;

	}
	.right-side .nastava{
		width: 100%;
		background: url('../images/linija.png') no-repeat center 230px ;
	}
	.right-side .nastava div{
		width: 50%;
		float: left;
	}
	.right-side .nastava .prva-smena span ,.right-side .nastava div.vtora-smena span{
		display: block;
	}

	.right-side .nastava div span{
		display:inline-block;
		padding: 10px 0;
	}

	.raspored1, .raspored2{
		font-size: 0.85vw;
	}

	.right-side .sekcii{
		width: 100%;
	}
	.right-side .sekcii div{
		width: 50%;
		float: left;
	}
		.right-side .sekcii div span{
			display: block;
			font-size: 14px;
			line-height: 1.2;
			font-weight: lighter;
			padding: 10px 0;
		}

.right-side .ekskurzii{
	width: 100%;
	position: relative;
}
	.ekskurzii img.linija{
		position: absolute;
		top:14.44vh;
		left: 13.91vw;
	}

	.ekskurzii .info{
		width: 100%;
		padding: 0 2.86vw;
		box-sizing:border-box;
		margin-bottom: 1.56vw;
		font-size: 0.63vw;
  		line-height: 1.2;

	}
	.ekskurzii .info img{
		float: left;
		margin-right: 1.56vw;
	}



.right-side .ekskurzii span{
	display: block;
	text-transform: uppercase;
	padding: 10px 0 40px 0;
	line-height: 1.2;
	font-size: 1.5vw;
}
img.ekskurzija{
	width: 17.39vw;
}
/*====================================
=           footer           =
====================================*/
/*KORISNI LINKOVI*/
div.korisni-linkovi{
    width: 100%;
    margin-top: 4.56vh;
    border-top: 1.3vh solid rgb(87,187,137);
    padding: 3.7vh 0;
}
div.korisni-linkovi .center{
    text-align: center;
}
div.korisni-linkovi .center a{
    margin-right: 5vw;
    height: 15.09vh;
    text-align: center;
}

div.korisni-linkovi .center a:last-child{
    margin-right: 0;
}
div.korisni-linkovi .center a img{
    width: 10vw;
}

/*FOOTER*/
footer{
    width: 100%;
    background-color:rgb(87,187,137) ;
}
footer .center div{
    float: left;
}


footer .center div.quick-links{
    padding-top: 3.52vh;
    margin-left: 9.21vw;
}
footer .center div.quick-links a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height:1.8 ;
    letter-spacing: 1.5px;

}
footer .center div.quick-links a:hover{
    opacity: 0.5;
}

/*Copyrights*/
div.copyright{
    text-align: center;
    background-color: #6c6767;
    color: #ffffff;
    font-size: 12px;
}
div.copyright p{
    padding: 10px 0;
}