/*=============================
=            fonts            =
=============================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
/*font-family: 'Open Sans', sans-serif;*/
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

/*====================================
=            start styles            =
====================================*/
.clear-fix:after{
	content:'';
	display:block;
	clear:both;
}

div#wrap{
	width:100%;
	height:100%;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}
div#wrap div.wraper{
	width:1300px;
	margin:0 auto;
}
/*==================================
=            top-header            =
==================================*/
div.top-header{
	width:100%;
	background:#813e3e;
}
div.top-header div.wraper div.mail,
div.top-header div.wraper div.phone{
	font-size:14px;
	float:right;
	padding:10px 0;
	color:#e5d8d8;
}
div.top-header div.wraper div.mail{
	margin-right:65px;
}
div.top-header div.wraper div.mail i{
	margin-right:5px;
}
div.top-header div.wraper div.phone{
	margin-right:35px;
}
div.top-header div.wraper div.phone i{
	margin-right:5px;
}
/*==============================
=            header            =
==============================*/
div.header{
	background:#57bb89;
}

div.header .wraper .logo{
	margin-left:30px;
	padding:20px 0;
	width:480px;
	float:left;
	overflow:hidden;
}
div.himna{
	width:276px;
	float:left;
	margin-top:52px;
	margin-left:215px;
}
div.himna form input:first-child{
	border:0;
	background:rgba(255, 255, 255, 0.3);
	padding:7px;
	color:#fff;
	width:208px;
	float:left;
}
div.himna form input::-webkit-input-placeholder {
   color: #fff;
}

div.himna form input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

div.himna form input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

div.himna form input:-ms-input-placeholder {  
   color: #fff;  
}
div.himna form input:last-child{
	width:58px;
	margin-left:-4px;
	float:left;
	border:0;
	background:url('../images/search.png') no-repeat 20px 5px;
	background-color:#f0f0ee;
	padding:7px;
}

div.himna audio{
	width:100%;
}

div.himna audio::-webkit-media-controls-panel{
	background:transparent;
}

div.himna audio{
	margin-top:25px;
}
div.aerodrom-logo{
	padding-top:15px;
	float:right;
	margin-right:53px;
}
/*==================================
=            navigation            =
==================================*/

div.nav{
	width:100%;
	text-align:center;
}
div.nav a{
	padding:23px;
	font-size:23px;
	text-decoration:none;
	text-transform:uppercase;
	display:inline-block;
	font-weight:600;
	color:#813e3e;
}

div.nav a:hover{
	background:#57bb89;
	color:#fff;
}

/*=====================================
=            za ucilisteot            =
=====================================*/
div.za-ucilisteto{
	height:510px;
	padding:10px 0;
	border-top:10px solid #813e3e;
	border-bottom:10px solid #813e3e;
	position:relative;
}

div.za-ucilisteto div.slide-left{
	background-image:url("../images/kids.jpg");
	background-size:cover;
	width:60%;
	position:absolute;
	top:10px;
	left:0;
	height:100%;
    -webkit-shape-outside: polygon(100% 0%, 80% 100%, 0 100%, 0 0);
    shape-outside: polygon(100% 0%, 80% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(98% 0%, 81% 100%, 0 100%, 0 0);
    height:510px;
}

div.za-ucilisteto div.slide-right{
	height:100%;
    width:50%;
    float:right;
    background: rgb(87,187,137);
    -webkit-shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

div.slide-right div.text{
	width:80%;
	float:right;
	padding-top:50px;
	padding-right:10px;
	text-align:center;
}

div.slide-right div.text h1{
	margin-bottom:45px;
	text-transform:uppercase;
	font-size:26px;
	color:#fff;
}

div.slide-right div.text p{
	color:#fff;
	line-height:25px;
	font-size:17px;
	text-align:left;
}

div.text div.icon{
	width:92px;
	height:92px;
	background:#f5efef;
	border:5px solid rgba(245,239,239,.2);
	border-radius:50px;
	float:left;
	margin-top:30px;
	margin-right:77px;
	margin-left:10px;
}
div.text div.icon3:last-child{
	margin-right:20px;
}
div.text div.icon1{
	background:url('../images/icon1.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon2{
	background:url('../images/icon2.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon3{
	margin-right:0;
	background:url('../images/icon3.png') no-repeat center center #f5efef;
	cursor:pointer;
}
div.text div.icon span{
	display:block;
	margin-top:100px;
	color:#fff;
}
/*====================================
=            left-section            =
====================================*/
div.sections{
	width:100%;
	margin-top:25px;
}
div.sections div.left-section{
	width:835px;
	box-sizing:border-box;
	float:left;
}
/*=============================
=            tabla            =
=============================*/

div.sections div.left-section div.tabla{
	background:url('../images/tabla.jpg') 0 0 no-repeat;
	padding-top:55px;
	padding-left:60px;
	padding-bottom:70px;
	position:relative;
}

div.sections div.left-section div.tabla h3{
	text-transform:uppercase;
	font-weight:600;
	font-size:14px;
	color:#fff;
	opacity:0.5;
	width:500px;
	float:left;
}
div.left-section .najnovi-informacii{
	width:500px;
	margin-top:20px;
	float:left;
}

div.left-section .najnovi-informacii .grupa-informacii img{
	width:230px;
	height:150px;
	float:left;
}

div.left-section .najnovi-informacii .grupa-informacii .info-text{
	width:255px;
	float:left;
	color:#fff;
	margin-left:15px;
}
div.left-section .najnovi-informacii .grupa-informacii .info-text h2{
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}
div.left-section .najnovi-informacii .grupa-informacii .info-text span{
	font-size:12px;
	line-height:16px;
	margin-top:20px;
}
div.tabla .tabla-linkivi{
	font-size:18px;
	font-weight:600;
	position:absolute;
	top:45px;
	right:20px;
}
div.tabla .tabla-linkivi ul{
	padding-right:28px;
}
div.tabla .tabla-linkivi li{
	width:150px;
	line-height:28px;
	color:#fff;
	padding:17px 20px;
	border-image:url( '../images/border.png' )  10 round ;
	border-top:1px solid transparent;
	text-align:right;
	background:url('../images/tabla-strelka.png') 25px 25px no-repeat;
}
div.tabla .tabla-linkivi li:last-child{
	border-image:url( '../images/border.png' )  10 round ;
	border-bottom:1px solid transparent;
}
div.tabla .tabla-linkivi li a{
	color:#fff;
	text-decoration:none;
	opacity:0.5;
}

/*==========================================
=            proekti natprevari            =
==========================================*/

div.proekti-natprevari{
	margin-top:50px;
	width:100%;
	box-sizing:border-box;
	margin-bottom:30px;
}

div.proekti-natprevari div.proekti{
	width:400px;
	float:left;
	box-sizing:border-box;
}
div.proekti-natprevari div.natprevari{
	float:right;
}
div.proekti-natprevari div.natprevari h1{
	background:url('../images/icon-proekti.png') no-repeat 0 7px;
}
div.proekti-natprevari div.proekti h1{
	color:#813e3e;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	border-image:url( '../images/border-red.png' )  10 round ;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	padding:20px 0;
	padding-left: 60px;
	background:url('../images/icon-natprevari.png') no-repeat 0 7px;
}
div.content{
	margin-top:30px;
	box-sizing:border-box;
}
div.content h2{
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
div.content img{
	float:left;
	margin-right:15px;
}
div.content span{
	font-size:12px;
	line-height:16px;

}

/*=====================================
=            za roditelite            =
=====================================*/


div.za-roditelite div.roditeli-content{
	width:450px;
	float:left;
}

div.za-roditelite div.roditeli-content h1{
	color:#813e3e;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	border-image:url( '../images/border-red.png' )  10 round ;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	padding:20px 0;
	padding-left: 60px;
	background:url('../images/people.png') no-repeat 0 7px;
}

div.za-roditelite div.roditeli-content .sorabotka-roditeli{
	width:50%;
	margin-top:20px;
	float:left;
	box-sizing:border-box;
	padding-right:10px;
}
div.za-roditelite div.roditeli-content .sorabotka-roditeli h2{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	margin-bottom:15px;
}

div.za-roditelite div.roditeli-content .sorabotka-roditeli span{
	font-size:12px;
	line-height:17px;
	margin-bottom:15px;
	display:block;
}

div.za-roditelite div.roditeli-content .sorabotka-roditeli a{
	font-size:12px;
	line-height:16px;
	text-decoration:none;
	background:#6eb87e;
	margin-top:15px;
	color:#fff;
	padding:0 5px;
}
div.za-roditelite div.roditeli-content .sredbi{
	padding-left:10px;
	box-sizing:border-box;
	float:left;

}
div.izvestai {
	float:right;
	margin-top:30px;
}
.izvestai span{
	display:block;
	text-align: left;
	padding-right:20px;
	font-size:14px;
	opacity:0.8;
	text-transform:uppercase;
	font-weight:bold;
	padding:20px 0 30px;
	padding-left:70px;
}
.izvestai span:nth-child(1){
	background:url('../images/doc-slika1.png') no-repeat 0 14px;
}
.izvestai span:nth-child(2){
	background:url('../images/doc-slika2.png') no-repeat 0 14px;
}
.izvestai span:nth-child(3){
	background:url('../images/doc-slika3.png') no-repeat 0 14px;
}
.izvestai span:nth-child(4){
	background:url('../images/doc-slika4.png') no-repeat 0 14px;
}
/*=====================================
=            right section            =
=====================================*/

div.right-section{
	width:450px;
	float:right;
	box-sizing:border-box;
	background:#813e3e;
	padding:15px 20px;
	padding-bottom:10px;
}
div.right-section h1{
	text-align:center;
	color:#fff;
	font-size:24px;
	text-transform:uppercase;
	font-weight:bold;
}

div.smena{
	margin-top:40px;
	margin-bottom:40px;
	background:url('../images/smena.png') no-repeat 199px 0;
}

div.smena div{
	float:left;
	width:50%;
	text-align:center;
	color:#fff;
}

div.smena div h2{
	font-weight:bold;
	margin-top:15px;
}

div.raspored{
	width:100%;
	padding:0 10px;
	background:url( '../images/linija.png' ) no-repeat 192px 77px;
}

div.raspored span.raspored-zovnenje{
	display:block;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	margin-bottom:15px;
}

div.raspored div{
	float:left;
	width:50%;
}
div.raspored div span{
	text-align:left;
	color:#fff;
	display:block;
	font-size:14px;
	padding-top:20px;
}
div.raspored div.raspored-left{
	box-sizing:border-box;
	padding:0 15px;
	padding-right:20px;

}
div.raspored div.raspored-left div{
	width:50%;
}
div.raspored b{
	text-align:left;
	color:#fff;
	display:block;
	font-size:14px;
	padding-top:20px;
}
div.raspored div.raspored-right{
	padding-left:0px;
	padding-right:35px;
}

div.ucilisni-sekcii{
	margin-top:40px;
}

div.ucilisni-sekcii h1{
	margin-bottom: 10px;
	font-weight:bold;
}

div.ucilisni-sekcii .sekcija{
	width:50%;
	float:left;
	margin-top:25px;
}
div.ucilisni-sekcii .sekcija img{
	display:block;
	margin:0 auto;
}
div.ucilisni-sekcii .sekcija span{
	display:block;
	color:#fff;
	font-size: 14px;
	text-align:center;
	margin-top:5px;
}

div.ekskurzii{
	margin-top:40px;
	padding:0 15px;
	box-sizing:border-box;
}
div.ekskurzii h1{
	margin-bottom:30px;
	font-weight:bold;
}

div.ekskurzii img{
	width:125px;
	height:85px;
	float:left;
	margin-right:20px;
}

div.ekskurzii span{
	font-size:12px;
	color:#fff;
	line-height:20px;
}

div.ekskurzii .ekskurzija{
	margin-top:20px;
}

div.sledna-ekskurzija {
	margin-top:40px;
}

div.sledna-ekskurzija h1{
	margin-bottom:20px;
}

div.sledna-ekskurzija img{
	width:286px;
	height:194px;
	display:block;
	margin:0 auto;
}
div.sledna-ekskurzija h1.ekskurzija-data{
	opacity:0.5;
	text-transform:none;
	margin-top:10px;
	margin-bottom:10px;
}

/*============================================
=            dopolnitelna nastava            =
============================================*/

div.slobodni-aktivnosti{
	width:50%;
	float:left;
	margin-top:40px;
	padding-right:40px;
	box-sizing:border-box;
}
div.slobodni-aktivnosti h1{
	color:#813e3e;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	border-image:url( '../images/border-red.png' )  1 round ;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	padding:20px 0;
	padding-left: 60px;
	background:url('../images/people.png') no-repeat 0 7px;
	border-image-repeat: stretch;
	margin-bottom:20px;
}

div.ucenicki-aktivnosti h1{
	background:url('../images/ucenucki-aktivnosti.png') no-repeat 0 7px;
}
div.slobodni-aktivnosti img{
	float:right;
	width:222px;
	height:122px;
	margin-left:20px;
}

div.slobodni-aktivnosti span{
	font-size:12px;
	line-height:18px;
}

div.slobodni-aktivnosti a{
	font-size:12px;
	line-height:16px;
	text-decoration:none;
	background:#6eb87e;
	margin-top:15px;
	color:#fff;
	padding:0 5px;
	display:block;
	width:100px;
	text-align:center;
}
/*=======================================
=            pomosni linkovi            =
=======================================*/

.pomosni-linkovi{
	margin-top:50px;
	border-top:15px solid #57bb89;
	padding-top:36px;
}
.pomosni-linkovi a{
	width:10%;
	box-sizing:border-box;
	display:block;
	float:left;
	margin-right:12%;
}

.pomosni-linkovi a:last-child{
	margin-right:0;
}
div.footer{
	width:100%;
	background:#57bb89;
}

div.footer .left-footer{
	width:50%;
	float:left;
	box-sizing:border-box;
	padding:20px;
}
div.footer .left-footer img{
	float:left;
}
div.footer .left-footer ul{
	float:right;
	margin-top:20px;
}

div.footer .left-footer li{
	margin-bottom:15px;
}
div.footer .left-footer li a{
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	font-size:18px;
}
div.footer .right-footer{
	float:right;
	width:50%;
	margin-top:40px;
}
div.footer .right-footer h1{
	text-align:center;
	font-size:30px;
	color:#fff;
	font-weight:bold;
}

div.footer .right-footer .director{
	width:50%;
	float:left;
	margin-top:30px;
}
div.footer .right-footer .director span{
	display:block;
	text-align:center;
	color:#fff;
	margin-bottom:5px;
}
div.adresa{
	clear:both;
	padding-top:50px;
}

div.adresa span{
	display:block;
	width:50%;
	margin:0 auto;
	text-align:center;
	opacity:0.5;
	color:#fff;
}

/*=====================================
=            footer bottom            =
=====================================*/
.footer-bottom{
	font-size:14px;
	padding:10px;
	background:#6c6767;
	text-align:center;
}
.footer-bottom span{
	color:#fff;
	opacity:0.5;
}

