.proekti-post{
    width: 33%;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
}
.proekti-post h2{
    padding:0 0 20px 20px;
}
.proekti-post img{
    padding:0px 20px;
    float: left;
}