
h1.title
{
    color: #813e3e;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-image: url('../images/border-red.png') 1 round;
    border-image-repeat: stretch;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 20px 0;
    margin-bottom: 25px;
}
.content-post{
    padding: 30px 0px;
    line-height:2;

}
div.content-post img{
    margin: 0px auto;
    display: block;
    padding: 25px 0;
}
